.__BASECLASS__-ratio-bar {
    width: 150px;
    padding-bottom : 15px;
    position: absolute;
    overflow: hidden;
    left : 8px;
    cursor : pointer;
    z-index : 1;
}

.__BASECLASS__-shorts-ratio-bar-wrap .kelly-show-rating-ratio-bar {
    position: relative;
    width: 50px;
    left: unset;
    padding-bottom: 0;
}

/* YouTube layout upgrade - segmented buttons */

.__BASECLASS__-segmented-design-dislike-text {
    margin-left : 8px;
}

.__BASECLASS__-ratio-bar.__BASECLASS__-ratio-bar-segmented-design {
    left : 0px;
}

/* YouTube layout upgrade */

#above-the-fold #actions-inner {
    position : relative;
}

#above-the-fold #actions-inner .__BASECLASS__-ratio-bar {
    top : 38px;
}


/* Comments Sidebar for Youtube ext. Fix */
.__BASECLASS__-ratio-bar.__BASECLASS__-ratio-bar-warc {
    left : unset;
    right : 5px;
}

.__BASECLASS__-ratio-bar.__BASECLASS__-ratio-bar-mobile {
    bottom : 0;
    z-index : 1;
    height: 5px;
    position: static;
    padding : 0;
    padding-left: 16px;
    margin-top: -2px;
    padding-bottom: 6px;
}

.__BASECLASS__-ratio-like {
    width: 50%;
    height: 5px;
    background: #75bc49;
    float: left;
    box-sizing: border-box;
}

.__BASECLASS__-ratio-dislike {
    width: 50%;
    height: 5px;
    background: #cc6a7c;
    float: left;
    box-sizing: border-box;
}

.__BASECLASS__-counter-long {    
    color: #f90;
}

.__BASECLASS__-note {
    font-size: 14px;
}

.__BASECLASS__-note a {
    font-size: 14px;
    font-weight: bold;
    color : #fff;
}

.__BASECLASS__-note p {
    margin-top: 14px;
}

.__BASECLASS__-count {
    margin-bottom: 6px;
}

.__BASECLASS__-count div:first-child {
    padding: 2px 6px;
    background: #787878;
    margin-left: 0;
    min-width: 150px;
}

.__BASECLASS__-count div {
    display: inline-block;
    margin-left: 4px;
}

.__BASECLASS__-extended-info {
    padding: 6px 6px;
    margin-top : 6px;
    background: #787878; 
}

.__BASECLASS__-api-datasource, .__BASECLASS__-api-disabled {
    margin-bottom : 6px;
}

.__BASECLASS__-ratio-bar.__BASECLASS__-ratio-bar-load .__BASECLASS__-ratio-like,
.__BASECLASS__-ratio-bar.__BASECLASS__-ratio-bar-load .__BASECLASS__-ratio-dislike {
    background : #ffd023;
}

.__BASECLASS__-tool.__BASECLASS__-tool-group-wrap {
    z-index: 2100;
}

.__BASECLASS__-tool.__BASECLASS__-tool-group-wrap a, .__BASECLASS__-tool.__BASECLASS__-tool-group-wrap button {
    color: #fff;
    font-weight : bold;
    text-decoration : underline;
    background: transparent;
    border: 0;
    cursor : pointer;
}

.__BASECLASS__-tool .__BASECLASS__-dark  .__BASECLASS__-tool-group-close,
.__BASECLASS__-tool .__BASECLASS__-tool-group-container.__BASECLASS__-dark {
    background : rgb(54, 54, 54);
}

.__BASECLASS__-tool .__BASECLASS__-tool-group-container.__BASECLASS__-extended {
    min-width : 170px;
}

.__BASECLASS__-tool .__BASECLASS__-tool-group-container {
    min-width: unset; 
    min-height: unset;
    background: rgb(96, 96, 96);
    color: #fff;
    border-radius: 0;
    padding : 8px;
}

.__BASECLASS__-tool .__BASECLASS__-tool-group-close {
    left: -32px;
    position: absolute;
    top: 0;
    background: rgb(96, 96, 96);
}

.__BASECLASS__-tool {
    padding-bottom : 10px;
}

.__BASECLASS__-tool .__BASECLASS__-tool-group-close svg g line {
    stroke: #fff;
    fill: #fff;
}

.__BASECLASS__-tool .__BASECLASS__-tool-group-close svg {
    
    width: 26px;
    height: 15px;
}
  
.__BASECLASS__-tool .__BASECLASS__-tool-group-content {
    font-size : 12px;
}