body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',Sans-serif;
    background: #262626;
    color: #bfbfbf;
    font-size: 14px; 
    width : 100%;
    height : 100%;
}

a {
    color: #efefef;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
}

button {
    display: block;
    height: 38px;
    min-width: 80px;
    background: #535353;
    border: 0;
    color: #afafaf;
    /* font-weight: bold; */
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    position : relative;
}

button:hover {
    background-color: #838383;
    color: #fff;
}

#header {    
    color : #fff;
    position: relative;
}

.fade {
   opacity : 0; 
}

.fade-in {
   opacity : 1; 
}

.page-header {
    padding: 55px;
    padding-bottom: 4px;
    padding-top: 10px;
    background: #535353;
    border-bottom: 1px solid #7e7e7e;
    font-size: 16px;
    height: 44px;
}

.page-header .kelly-options-report {
    color: #efefef;
    float: right;
    display: inline-block;
    position: absolute;
    text-align : right;
    right: 0;
    top: 0;
}

.page-header .kelly-options-report a {
    font-size: 12px;
    display: block;
    text-decoration: underline;
    padding-bottom: 4px;
}

.page-header img {
    background: #fff;
    width: 44px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #fff;
    float: left;
    margin-right: 16px;
}

.kelly-options-ext-name {
    display : block;
    font-size: 20px;
}

.kelly-copyright {
    display : block;
    font-size: 12px;
}

.page-options {
    padding-left: 50px;
    padding-top: 15px;
    max-width: 466px;
}

.kelly-options-row {
    padding-bottom: 6px;
}

.kelly-options-row-title {
    font-size: 14px;
    padding-bottom: 6px;
    /* padding-left: 0; */
}

.kelly-options-row-input input {
    height: 37px;
    width: 100%;
    background: #535353;
    border: 1px solid #383838;
    box-sizing: border-box;
    color: #c5c5c5;
    padding-left: 6px;
}

.kelly-options-additions-wrap {
    display: none;
    overflow: hidden;
}

.kelly-options-additions {
    /* overflow-y: scroll; */
    background: rgb(135 135 135 / 35%);
    padding: 6px 6px;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.kelly-options-additions::-webkit-scrollbar {
    width: 1em;
}
 
.kelly-options-additions::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.kelly-options-additions::-webkit-scrollbar-thumb {
  background-color: #65749e;
  outline: 1px solid slategrey;
}

.kelly-options-save .kelly-options-save-btn,
.kelly-options-options-btn {
    background: #c40000;
    color: #fff;
}

.kelly-options-result.show {
    background: #7a7a7a;
    box-sizing: border-box;
    padding: 12px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 16px;
}

.kelly-options-additions-wrap.show {
    display : block;
}

.kelly-options-additions-show {
    text-align: left;
    padding-left: 39px;
}

.kelly-options-additions-show:after {
    content: "▼";
    display: block;
    position: absolute;
    top: 10px;
    left: 12px;
}

a.kelly-options-row-help {
    background : unset;
    float: right;
    display: inline-block;
    padding: 0 8px;
    color: #afafaf;
}

.kelly-options-tool-group-wrap .kelly-options-tool-group-close svg g line {
    stroke: #fff;
    fill: #fff;
}

.kelly-options-tool-group-wrap .kelly-options-tool-group-close {
    background: rgb(112 112 112);
    top : -30px;
}

.kelly-options-tool-group-wrap .kelly-options-tool-group-container {
    background: rgb(112 112 112);
    border-radius: 0;
}

.kelly-options-tool-group-content p {
    max-width: 687px;
}

.kelly-copyright a {
    background: 0;
    color: #ff2e2e;
    padding: 0;
}

.data-source {
    padding: 4px;
    margin-bottom: 4px; 
    background: #6e6e6e;
}

.data-source-card {
    
    background: #626262;
}

.data-source:hover {
    background: #838383;
}

.data-source-controlls {
    position : relative;
}

.data-source-controlls label {
    display : block;
}
    
.data-source-desc, .data-source  {
    transition: opacity 0.2s;
}

.data-source-name {
    font-size: 15px;
    font-weight: bold;
    padding: 6px 0;
    padding-left: 4px;
    color: #fff;
}

.data-source-index { 
    color: #d7d7d7;
}

.data-source-links {
}

.data-source-actions {
    float : right;  
    position: absolute;
    right: 0;
    top: 0;
}

.data-source-actions a {
    display: inline-block;
    padding: 0;
    background: unset;
    text-decoration: underline;
}

.data-source-actions a.data-source-priority {
    
    text-decoration : none;
}

.data-source-links a {
    margin-right: 4px;
    padding: 4px;
}

.data-source-desc { 
    color: #fff;
    height : 0;
    opacity : 0;
    overflow : hidden;
}

.data-source-desc.enabled {
    opacity : 1;
    height : auto;   
    padding: 6px;
}

.data-source-colorpicker {
    display : none;
    text-align : center;
}

.data-source-colorpicker.enabled {
    display : block;
}

.data-source-disclaimer {
    color: #ff2a2a;
    padding: 4px;
}

.colorring-ratio-preview {
    width: 100%;
    height: 11px;
    margin: 24px 0;
}

.colorring-ratio-preview-like, .colorring-ratio-preview-dislike {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.colorring-input.selected {
    border: 2px solid #fff;
}

.colorring-input {
    border: 0;
    box-sizing: border-box;
    text-align: center;
    width: 30%;
    height: 100px;
    display: inline-block;
    /* float: left; */
    padding: 0;
    margin-right: 2px;
    cursor : pointer;  
    border-radius: 4px;
    /* white-space: nowrap; */
    /* word-break: keep-all; */
}

.data-source-colorpicker .colorring-input {
    width : 45%;
}

.data-source-colorpicker .colorring-input.colorring-input-loading {
    display : none;
}

#spoiler-__colorring__ .kelly-options-additions {
    text-align: center;
}

.colorring-reset a, .data-source-reset-button {
    width: 100%;
    margin-top: 6px;
    box-sizing: border-box;
    background: #838383;
    padding: 10px;
    text-align : center;
}  

.colorring-inputs-list {
    margin-bottom: 12px;
}

@media (max-width: 800px) {
    
    body, html,
    .kelly-options-row-title {
        font-size: 16px;
    }

    .page-header {
        padding: 12px;
        background: #535353;
        border-bottom: 1px solid #7e7e7e;
        font-size: 16px;
        height: auto; 
    }
    
    .page-options {
        padding-left: 0; 
        max-width: unset;
        padding: 14px;
        padding-top: 18px;
    }
    
    .page-header .kelly-options-report {
        display : none;
    }
}

