body, html {
    height: auto; 
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 400px;
    border: 6px solid #fff;
}

* {
    box-sizing: border-box;
}

.popup-env .kelly-options-additions-show::after {
    display : none;
}

.popup-env .kelly-options-additions-show {
    text-align : center;
    padding : 0;
}

.popup-env .page-header .kelly-options-report {
    display : none;
}

.popup-env .kelly-options-options-btn {
    margin-bottom: 6px;
}

.popup-env .kelly-copyright {
    font-size: 12px;
    display: block;
}

.popup-env .kelly-copyright a {
    background: 0;
    /* color: #ff2e2e; */
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.popup-env .disclaimer {
    font-size: 12px;
    background: #545454;
    display: block;
    padding: 6px;
}

.popup-env .disclaimer a {
    display: inline-block;
    padding: 0;
    background: transparent;
    text-decoration: underline;
}

.popup-env .kelly-options-options-btn {
    background: #535353;
    color: #afafaf;  
}

.popup-env button:hover {
    background-color: #838383;
    color: #fff;
}

.popup-env button.support:hover {
    background-color: #7abde2;
}
